torch==1.8.1+cu102 
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cu102 
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio===0.8.1 
-f https://download.pytorch.org/whl/torch_stable.html

transformers==4.5.1
jupyter
scikit-learn